:root {
  --dark-orange: #EA7E2F;
  --dark-blue: #06162F;
}
html {
  height: 100%;
  width: 100%;
}
main {
  min-height: 100vh;
}
body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}
.button {
  background-color: var(--dark-orange);
  color: var(--dark-blue);
  border: 1px solid var(--dark-blue) !important;
}
.button:hover {
  color: orange;
}
/* 
********
Nav Menu*
********
 */
.navbar {
  border-bottom: 1px solid black;
  background-color: var(--dark-blue);
}
.navLinks {
  display: flex;
  margin-left: 3%;
}
.nav-link{
color: var(--orange) !important;
}
.navbar-toggler {
  background-color: var(--dark-orange) !important;
}
.dropdown-menu {
  background-color: var(--dark-blue) !important;
}
.dropdown-item {
  color: var(--dark-orange) !important;
}
.social {
  display: flex;
}
/* 
********
Banner**
********
 */
.banner {
  background-image: url(../img/long-state-breaks.jpg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  height: 24em;
  margin-top: 3.5%;;
}
/* 
********
Content*
********
 */
.breakSection {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5%;
}
.breakExp {
  border-right: 1px solid black;
}
.imgDivider {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  color: black;
  text-align: center;
}
.img_one {
  background-image: url(../img/ashton-clark-424090-unsplash.jpg);
  height: 30em;
}
.img_one h1 {
  padding-top: 3%;
  color: orange;
  text-shadow: 1px 1px 1px black;
}
.img_two {
  background-image: url(../img/casey-murphy-555659-unsplash.jpg);
  height: 30em;
}
.videoSection {
  display: flex;
  justify-content: space-around;
  height: 100%;
  padding: 20px;
}
.inDepth {
  padding: 3%;
  border: 1px solid black;
}
.ctaSection {
  padding: 2%;
}
.ctaTitle {
  padding: 2%;
}
.card {
  text-align: center;
}
/* 
********
Footer**
********
 */
.footer {
  height: 6em;
  background-color: var(--dark-blue);
  border-top: 1px solid black;
  color: var(--dark-orange);
}

