html {
  height: 100%;
  width: 100%;
}
main {
  min-height: 100vh;
}
body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}
.navbar {
  border-bottom: 1px solid black;
  background-color: aliceblue;
}
.navLinks {
  display: flex;
  margin-left: 3%;
}
.nav-link{
color: orange !important;
}
.social {
  display: flex;
}
/* 
********
Banner**
********
 */
.banner {
  background-image: url(../img/tim-gouw-124468-unsplash.jpg);
  background-size: cover;
  background-position: center;
  color: orange;
  height: 25em;
}
.bannerText {
  padding-top: 5%;
  margin-left: 5%;
  text-align: left;
}
/* 
********
Content*
********
 */
.breakSection {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5%;
}
.breakExp {
  border-right: 1px solid black;
}
.imgDivider {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  color: black;
  text-align: center;
  padding-top: 6%;
}
.img_one {
  background-image: url(../img/ashton-clark-424090-unsplash.jpg);
  height: 30em;
}
.img_two {
  background-image: url(../img/casey-murphy-555659-unsplash.jpg);
  height: 30em;
}
.videoSection {
  display: flex;
  justify-content: space-around;
  height: 100%;
  padding: 20px;
}
.inDepth {
  padding: 3%;
  border: 1px solid black;
}
.ctaSection {
  padding: 2%;
}
.ctaTitle {
  padding: 2%;
}
.footer {
  background-color: aqua;
  position: absolute;
  bottom: 50;
  right: 0;
  padding-bottom: 2.5rem;
}
.footer_two {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5em; 
}