:root {
  --dark-orange: #ea7e2f;
  --dark-blue: #06162f;
}
html {
  height: 100%;
  width: 100%;
}
main {
  min-height: 100vh;
}
body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}
.button {
  background-color: var(--dark-orange);
  color: var(--dark-blue);
  border: 1px solid var(--dark-blue) !important;
}
.button:hover {
  color: orange;
}
/* 
********
Nav Menu*
********
 */
.navbar {
  border-bottom: 1px solid black;
  background-color: var(--dark-blue);
}
.navLinks {
  display: flex;
  margin-left: 3%;
}
.nav-link {
  color: var(--orange) !important;
}
.navbar-toggler {
  background-color: var(--dark-orange) !important;
}
.dropdown-menu {
  background-color: var(--dark-blue) !important;
}
.dropdown-item {
  color: var(--dark-orange) !important;
}

/* 
********
Banner**
********
 */
.banner {
  background-image: url(../img/long-state-breaks-min.jpg);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  height: 25em;
  margin-top: 3%;
}
/* 
********
Content*
********
 */
.breakSection {
  border-bottom: 1px solid black;
  padding: 5%;
}
.breakExp {
  border-right: 1px solid black;
}
.imgDivider {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  color: black;
  text-align: center;
}
.img_one {
  background-image: url(../img/ashton-clark-424090-unsplash-min.jpg);
  height: 30em;
}
.img_one h1 {
  padding-top: 3%;
  color: orange;
  text-shadow: 1px 1px 1px black;
}
.img_two {
  background-image: url(../img/casey-murphy-555659-unsplash-min.jpg);
  height: 30em;
}
.videoSection {
  display: flex;
  justify-content: space-around;
  height: 100%;
  padding: 20px;
}
.inDepth {
  padding: 3%;
  border-top: 1px solid black;
  /* border-bottom: 1px solid black; */
  text-align: center;
}
.ctaSection {
  padding: 3%;
  border-top: 1px solid var(--dark-blue);
}
.ctaTitle {
  padding: 2%;
}
.card {
  text-align: center;
  align-items: center;
}
.title {
  padding-bottom: 2%;
  color: var(--dark-orange);
  text-shadow: 1px 3px 5px var(--dark-blue);
}
/* 
*********************
Contact Page Styling*
*********************
 */
.map {
  padding: 2%;
}
.map h4 {
  text-align: center;
}
.contactIcon {
  font-size: 2em;
  margin-right: 2%;
}
.waysToContact > li {
  margin: 5%;
  list-style: none;
  color: var(--dark-orange);
}
/* 
********
Footer**
********
 */
.footer {
  height: 6em;
  background-color: var(--dark-blue);
  border-top: 1px solid black;
  color: var(--dark-orange);
}
.copyright {
  text-align: center;
}
.my-copyright {
  background-color: var(--dark-blue);
}
