html {
  height: 100%;
  width: 100%;
}
body {
  overflow-x: hidden;
  height: 100%;
}
/* 
********
Banner**
********
 */
.banner {
  background-image: url(../img/tim-gouw-124468-unsplash.jpg);
  background-size: cover;
  background-position: center;
  color: orange;
  height: 400px;
}
.bannerText {
  padding-top: 5%;
  margin-left: 5%;
  text-align: left;
}
/* 
********
Content*
********
 */
.breakSection {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.breakExp {
    border-right: 1px solid black;
}
